:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  
  
}

.form {
  width: 371px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms ease-in;
}
.input:hover {
  border-color: #000000;
}
.input:focus {
  border-color: #4E75FF;
}
.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
.button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background 250ms ease-in;
}
.button:hover {
  background: #6C8CFF;
}

.gallery {
  width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 200px;
 
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.044);
}
.gallery-image {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 152px;
  cursor: zoom-in;
  overflow: hidden;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.text-ul{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}


.text-li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;

}
.text{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
  font-size: 48px;
  color: hwb(103 6% 55% / 0.938);
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  background-color: currentcolor;
  border-radius: 50%;
  /* transform: rotateX(-60deg) perspective(1000px); */
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  animation: flowerFlow 1s ease-out infinite;
}

.loader:after {
  animation-delay: .4s;
}

@keyframes flowerFlow {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor,
      0 0 0 -.5em currentcolor;
  }

  100% {
    opacity: 0;
    transform: rotate(180deg);
    box-shadow: -1em -1em 0 -.35em currentcolor,
      0 -1.5em 0 -.35em currentcolor,
      1em -1em 0 -.35em currentcolor,
      -1.5em 0 0 -.35em currentcolor,
      1.5em -0 0 -.35em currentcolor,
      -1em 1em 0 -.35em currentcolor,
      0 1.5em 0 -.35em currentcolor,
      1em 1em 0 -.35em currentcolor;
  }
}

.hidden {
  display: none;
}
.more-button {
  display: block;
  margin: 32px auto 44px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;

}